VITE_OPENROUTER_API_KEY=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
VITE_SUPABASE_URL=https://jubunwpwrzkagkrmkwws.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp1YnVud3B3cnprYWdrcm1rd3dzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU5ODAxMzYsImV4cCI6MjA4MTU1NjEzNn0.ZQHNyz6uMmz9jj7YampHd4Ubl1i7gIqxOPZktEz_wbc